En esta lección vamos a ingestar los datos que usaremos para crear un modelo semántico y luego crear una aplicación utilizando Cortex Analyst.

Lo primero que realizaremos será crear el esquema correspondiente a esta sección del curso.

In [ ]:
USE DATABASE curso_ia;
CREATE OR REPLACE SCHEMA seccion_3;

A continuación crearemos las tablas necesarias.

In [ ]:
-- Establecer el contexto
USE DATABASE curso_ia;
USE SCHEMA seccion_3;

-- Crear tabla pizza_types
CREATE OR REPLACE TABLE pizza_types (
    pizza_type_id VARCHAR(50),
    name VARCHAR(100),
    category VARCHAR(50),
    ingredients VARCHAR(500)
);

-- Crear tabla pizzas
CREATE OR REPLACE TABLE pizzas (
    pizza_id VARCHAR(50),
    pizza_type_id VARCHAR(50),
    size VARCHAR(10),
    price DECIMAL(10,2)
);

-- Crear tabla orders
CREATE OR REPLACE TABLE orders (
    order_id INTEGER,
    date DATE,
    time TIME
);

-- Crear tabla order_details
CREATE OR REPLACE TABLE order_details (
    order_details_id INTEGER,
    order_id INTEGER,
    pizza_id VARCHAR(50),
    quantity INTEGER
);

El siguiente paso será crear un stage donde cargaremos los datos adjuntos a esta lección para posteriormente ingestarlos a las tablas que hemos creado en el paso previo.

In [ ]:
-- Establecer el contexto
USE DATABASE curso_ia;
USE SCHEMA seccion_3;

-- Crear el stage
CREATE OR REPLACE STAGE data_raw
DIRECTORY = (ENABLE = TRUE);

El siguiente paso es que ustedes carguen al stage los archivos CSV que están como recursos adjuntos a esta lección. En este paso pueden utilizar la alternativa que deseen: Snowsight, snowSQL o snow CLI.

Una vez que los datos hallan sido cargados al stage vamos a ingestarlos a las tablas que previamente hemos creado.

In [ ]:
-- Cargar datos en la tabla pizza_types
COPY INTO pizza_types
FROM @curso_ia.seccion_3.data_raw/pizza_types.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = ',' SKIP_HEADER = 1 FIELD_OPTIONALLY_ENCLOSED_BY ='"');

In [ ]:
-- Cargar datos en la tabla pizzas
COPY INTO pizzas
FROM @curso_ia.seccion_3.data_raw/pizzas.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = ',' SKIP_HEADER = 1 FIELD_OPTIONALLY_ENCLOSED_BY ='"');

In [ ]:
-- Cargar datos en la tabla orders
COPY INTO orders
FROM @curso_ia.seccion_3.data_raw/orders.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = ',' SKIP_HEADER = 1 FIELD_OPTIONALLY_ENCLOSED_BY ='"');

In [ ]:
-- Cargar datos en la tabla order_details
COPY INTO order_details
FROM @curso_ia.seccion_3.data_raw/order_details.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = ',' SKIP_HEADER = 1 FIELD_OPTIONALLY_ENCLOSED_BY ='"');

Mostramos las tablas.

In [ ]:
SELECT * FROM pizza_types;

In [ ]:
SELECT * FROM pizzas;

In [ ]:
SELECT * FROM orders;

In [ ]:
SELECT * FROM order_details;